{% extends 'base/main.html' %}
{% block content %}
    <div class="shopping-list">
        <h1>Mevcut Ürünler</h1>
        {% if items %}
            <ul>
                {% for item in items %}
                    <li>
                         {{item.item_name}}
                        {% if item.item_image %}
                        <img src="{{ item.item_image.url }}" alt="{{ item.item_name }}" class="item-image">
                        {% else %}
                        <img src="/static/base/images/default.png" alt="resim paleti" class="item-image">
                        {% endif %}
                        {% if request.user.is_authenticated %}
                            <a href="{% url 'add_to_cart' item.id %}">Sepete ekle</a>
                        {% else %}
                            <span>(Eklemek için giriş yapın.)</span>
                        {% endif %}                        
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Ürünler mevcut değil.</p>
        {% endif %}
    </div>
{% endblock %}