<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Caveat:wght@400..700&family=PT+Sans+Narrow:wght@400;700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Caveat:wght@400..700&family=PT+Sans+Narrow:wght@400;700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'base/styles/styles.css' %}">
        
        <title>Operation Form - {{ order.order_id }}</title>
    </head>
    <body>
        <style>   
            html {
                background-color: white;
                font-family: "Roboto", sans-serif;
                font-weight: 400;
            }
        </style>
        <div class="container">
            <div class="header">
                <h1 class="logo">WareHouse</h1>
                <hr class="line"/>
                <hr class="line"/>
            </div>
            <div class="body">
                <h4 id="name">Tufan İŞLER</h4>
                <h5 id="tag">Sipariş Sorumlusu</h5>
                <hr id="info"/>
                <p class="about">
                    tufanisler08@gmail.com<br>
                    Alemdağ cad. Ümraniye/IST<br>
                    WareHouse Hediyelik
                </p>
            </div>
        </div>   

        <div class="customer-info">
            <h3 id="form-name" style="margin-bottom: 1rem;">Operasyon Formu</h3>
            <div>
                <span class="inline-item">Müşteri Adı-Soyadı:</span> <span>{{ request.user.name }} {{ request.user.surname }}</span>
            </div>
            <div>
                <span class="inline-item">Sipariş Tarih ve Saati:</span> <span>{{ order.order_only_date|date:"d/m/Y" }}</span>
            </div>
            <div>
                <span class="inline-item">Sipariş Numarası:</span> <span>{{order.order_id}}</span>
            </div>
            <div>
                <span class="inline-item">Müşteri Adresi:</span> <span>{{ profile.address }}</span>
            </div>
            <!-- <h3>Müşteri Adı-Soyadı: </h3>
                <span>{{ request.user.name }} {{ request.user.surname }}</span>
            <h3>Sipariş Tarih ve Saati: </h3>
                <span>{{ order.order_only_date|date:"d/m/Y" }}</span>
            <h3>Sipariş Numarası: </h3>
                <span>{{order.order_id}}</span>
            <h3 id="address">Adres: <span>{{ profile.address }}</span> </h3>  -->
                
        </div>

        <div class="table">
            <table border="1">
                <tr>
                    <th style="width: 1rem;">Miktar</th>
                    <th style="width: 25rem;">Ürünler</th>
                    <th style="width: 5rem;">Raf Numarası</th>
                </tr>
                {% for item in order.order_items.all %}
                    <tr>
                        <td style="font-weight: 600;">{{ item.quantity }}x</td>
                        <td>{{ item.item.item_name }}</td>
                        <td>{{ item.item.shelf }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <p id="constant">İlgili bölümde saklanması zorunludur.</p>
    </body>
</html>

